{% load static %}

<div class="row mb-4">
    <div class="col-12">
        <h3 class="heading-2 mb-3">Featured Posts</h3>
    </div>
    <!-- Featured Post 1 -->
    <div class="col-lg-6 col-md-6">
        <div class="car-box-3">
            <div class="car-thumbnail">
                <a href="blog-details.html" class="car-img">
                    <div class="tag-2 bg-active">Just In</div>
                    <div class="price-box">
                        <span>5 Min Read</span>
                    </div>
                    <img class="d-block w-100" src="{% static 'img/car-1.jpg' %}" alt="blog post">
                </a>
            </div>
            <div class="detail">
                <h1 class="title">
                    <a href="blog-details.html">Tips Merawat Mesin Mobil Klasik Agar Tetap Prima</a>
                </h1>
                <div class="location">
                    <a href="#">
                        <i class="fa fa-user"></i> Admin
                    </a>
                    <span class="ml-3"><i class="fa fa-calendar"></i> Oct 24, 2026</span>
                </div>
                <p class="mt-2 text-muted">Merawat mobil klasik membutuhkan perhatian ekstra, terutama pada bagian pengapian dan pasokan bahan bakar...</p>
                <ul class="facilities-list clearfix">
                    <li>Automotive</li>
                    <li>Maintenance</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-6">
        <div class="car-box-3">
            <div class="car-thumbnail">
                <a href="blog-details.html" class="car-img">
                    <div class="tag-2 bg-active">Best Revied</div>
                    <div class="price-box">
                        <span>5 Min Read</span>
                    </div>
                    <img class="d-block w-100" src="{% static 'img/car-2.jpg' %}" alt="blog post">
                </a>
            </div>
            <div class="detail">
                <h1 class="title">
                    <a href="blog-details.html">Tips Merawat Mesin Mobil Klasik Agar Tetap Prima</a>
                </h1>
                <div class="location">
                    <a href="#">
                        <i class="fa fa-user"></i> Admin
                    </a>
                    <span class="ml-3"><i class="fa fa-calendar"></i> Oct 24, 2026</span>
                </div>
                <p class="mt-2 text-muted">Merawat mobil klasik membutuhkan perhatian ekstra, terutama pada bagian pengapian dan pasokan bahan bakar...</p>
                <ul class="facilities-list clearfix">
                    <li>Automotive</li>
                    <li>Maintenance</li>
                </ul>
            </div>
        </div>
    </div>
</div>