{% load static %}

<div class="row">
    <div class="col-12">
        <h3 class="heading-2 mb-3">Trending Articles</h3>
    </div>
    
    <!-- Blog Post Item 1 (Ex: Audi Template) -->
    <div class="col-lg-6 col-md-6">
        <div class="car-box-3">
            <div class="car-thumbnail">
                <a href="blog-details.html" class="car-img">
                    <div class="tag">10 Sold in a Day</div>
                    <div class="price-box">
                        <span>4 Min Read</span>
                    </div>
                    <img class="d-block w-100" src="{% static 'img/car-1.jpg' %}" alt="blog post">
                </a>
            </div>
            <div class="detail">
                <h1 class="title">
                    <a href="blog-details.html">Review Jujur SUV Listrik Terbaru Tahun Ini</a>
                </h1>
                <div class="location">
                    <a href="#">
                        <i class="fa fa-user"></i> Editor
                    </a>
                    <span class="ml-3"><i class="fa fa-calendar"></i> Oct 23, 2026</span>
                </div>
                <p class="mt-2 text-muted">Apakah efisiensi baterai sebanding dengan kenyamanan berkendara jarak jauh? Mari kita kupas tuntas...</p>
                <ul class="facilities-list clearfix">
                    <li>EV News</li>
                    <li>Review</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-6">
        <div class="car-box-3">
            <div class="car-thumbnail">
                <a href="blog-details.html" class="car-img">
                    <div class="tag">Maintenance</div>
                    <div class="price-box">
                        <span>4 Min Read</span>
                    </div>
                    <img class="d-block w-100" src="{% static 'img/car-2.jpg' %}" alt="blog post">
                </a>
            </div>
            <div class="detail">
                <h1 class="title">
                    <a href="blog-details.html">Review Jujur SUV Listrik Terbaru Tahun Ini</a>
                </h1>
                <div class="location">
                    <a href="#">
                        <i class="fa fa-user"></i> Editor
                    </a>
                    <span class="ml-3"><i class="fa fa-calendar"></i> Oct 23, 2026</span>
                </div>
                <p class="mt-2 text-muted">Apakah efisiensi baterai sebanding dengan kenyamanan berkendara jarak jauh? Mari kita kupas tuntas...</p>
                <ul class="facilities-list clearfix">
                    <li>EV News</li>
                    <li>Review</li>
                </ul>
            </div>
        </div>
    </div>
</div>