<!-- templates/pages/home.html -->
{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Slider start -->
{% include 'pages/components/home/1_slider.html' %}
<!-- Slider end -->

<!-- Featured car start -->
{% include 'pages/components/home/2_featured_car.html' %}
<!-- Featured car end -->

<!-- Latest car start -->
{% include 'pages/components/home/3_latest_car.html' %}
<!-- Latest car end -->

<!-- Our team start -->
{% include 'pages/components/home/4_team.html' %}
<!-- Our team end -->
{% endblock content %}