{% load static %}
{% load navigation_tags %}

<div class="sub-banner overview-bgi">
    <div class="container breadcrumb-area">
        <div class="breadcrumb-areas">
            <h1>Our Blog Insights</h1>
            <ul class="breadcrumbs">
                <li>
                    <a href="{% url 'pages:home' %}">Home</a>
                </li>
                <li class="nav-item {% is_active 'blog:blog_detail' %}">
                    <a href="#">Blog Single</a>
                </li>
            </ul>
        </div>
    </div>
</div>