{% load static %}

<div class="blog-single-content bg-white p-4 rounded shadow-sm mb-4">
    <div class="blog-image mb-4">
        <img class="d-block w-100 img-fluid rounded" src="{% static 'img/car-1.jpg' %}" alt="blog detail">
    </div>
    <div class="detail-text">
        <h2 class="title mb-3">Tips Merawat Mesin Mobil Klasik Agar Tetap Prima</h2>
        <div class="meta-info mb-4">
            <a href="#"><i class="fa fa-user"></i> Admin</a>
            <span class="ml-3 text-muted"><i class="fa fa-calendar"></i> Oct 24, 2026</span>
        </div>
        <div class="post-body text-muted">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam. Sed varius turpis dynamic, non hendrerit lorem varius id.</p>
            <p>Integer sit amet sem sed enim dictum sodales. Etiam sit amet lorem tellus. Morbi feugiat, lacus non convallis sodales, arcu lectus varius lectus.</p>
        </div>
    </div>

    <!-- [ELEMEN]: tag tag tag -->
    <div class="tag-area border-top pt-3 mt-4">
        <a href="#" class="badge btn-outline-secondary px-3 py-2 mr-1">Automotive</a>
        <a href="#" class="badge btn-outline-secondary px-3 py-2 mr-1">Maintenance</a>
        <a href="#" class="badge btn-outline-secondary px-3 py-2">Classic Car</a>
    </div>
</div>