<!-- templates/pages/home.html -->
{% extends 'base.html' %}
{% load static %}

{% block title %}{{ block.super }} - Blog{% endblock %}

{% block content %}
<!-- Sub banner start -->
<div class="sub-banner overview-bgi">
    <div class="container breadcrumb-area">
        <div class="breadcrumb-areas">
            <h1>Our Blog Insights</h1>
            <ul class="breadcrumbs">
                <li><a href="index.html">Home</a></li>
                <li class="active">Blog</li>
            </ul>
        </div>
    </div>
</div>
<!-- Sub Banner end -->

<!-- Main Blog Content start -->
<div class="featured-car content-area">
    <div class="container">
        <div class="row">

            <!-- Main content column start -->
            <div class="col-lg-8 col-md-12">
                
                <!-- SECTION: FEATURED POSTS -->
                <div class="row mb-4">
                    <div class="col-12">
                        <h3 class="heading-2 mb-3">Featured Posts</h3>
                    </div>
                    <!-- Featured Post 1 -->
                    <div class="col-lg-6 col-md-6">
                        <div class="car-box-3">
                            <div class="car-thumbnail">
                                <a href="blog-details.html" class="car-img">
                                    <div class="tag-2 bg-active">Just In</div>
                                    <div class="price-box">
                                        <span>5 Min Read</span>
                                    </div>
                                    <img class="d-block w-100" src="{% static 'img/car-1.jpg' %}" alt="blog post">
                                </a>
                            </div>
                            <div class="detail">
                                <h1 class="title">
                                    <a href="blog-details.html">Tips Merawat Mesin Mobil Klasik Agar Tetap Prima</a>
                                </h1>
                                <div class="location">
                                    <a href="#">
                                        <i class="fa fa-user"></i> Admin
                                    </a>
                                    <span class="ml-3"><i class="fa fa-calendar"></i> Oct 24, 2026</span>
                                </div>
                                <p class="mt-2 text-muted">Merawat mobil klasik membutuhkan perhatian ekstra, terutama pada bagian pengapian dan pasokan bahan bakar...</p>
                                <ul class="facilities-list clearfix">
                                    <li>Automotive</li>
                                    <li>Maintenance</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="car-box-3">
                            <div class="car-thumbnail">
                                <a href="blog-details.html" class="car-img">
                                    <div class="tag-2 bg-active">Best Revied</div>
                                    <div class="price-box">
                                        <span>5 Min Read</span>
                                    </div>
                                    <img class="d-block w-100" src="{% static 'img/car-2.jpg' %}" alt="blog post">
                                </a>
                            </div>
                            <div class="detail">
                                <h1 class="title">
                                    <a href="blog-details.html">Tips Merawat Mesin Mobil Klasik Agar Tetap Prima</a>
                                </h1>
                                <div class="location">
                                    <a href="#">
                                        <i class="fa fa-user"></i> Admin
                                    </a>
                                    <span class="ml-3"><i class="fa fa-calendar"></i> Oct 24, 2026</span>
                                </div>
                                <p class="mt-2 text-muted">Merawat mobil klasik membutuhkan perhatian ekstra, terutama pada bagian pengapian dan pasokan bahan bakar...</p>
                                <ul class="facilities-list clearfix">
                                    <li>Automotive</li>
                                    <li>Maintenance</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- SECTION: LATEST POSTS -->
                <div class="row">
                    <div class="col-12">
                        <h3 class="heading-2 mb-3">Latest Articles</h3>
                    </div>
                    
                    <!-- Blog Post Item 1 (Ex: Audi Template) -->
                    <div class="col-lg-6 col-md-6">
                        <div class="car-box-3">
                            <div class="car-thumbnail">
                                <a href="blog-details.html" class="car-img">
                                    <div class="tag">Super</div>
                                    <div class="price-box">
                                        <span>4 Min Read</span>
                                    </div>
                                    <img class="d-block w-100" src="{% static 'img/car-1.jpg' %}" alt="blog post">
                                </a>
                            </div>
                            <div class="detail">
                                <h1 class="title">
                                    <a href="blog-details.html">Review Jujur SUV Listrik Terbaru Tahun Ini</a>
                                </h1>
                                <div class="location">
                                    <a href="#">
                                        <i class="fa fa-user"></i> Editor
                                    </a>
                                    <span class="ml-3"><i class="fa fa-calendar"></i> Oct 23, 2026</span>
                                </div>
                                <p class="mt-2 text-muted">Apakah efisiensi baterai sebanding dengan kenyamanan berkendara jarak jauh? Mari kita kupas tuntas...</p>
                                <ul class="facilities-list clearfix">
                                    <li>EV News</li>
                                    <li>Review</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="car-box-3">
                            <div class="car-thumbnail">
                                <a href="blog-details.html" class="car-img">
                                    <div class="tag">Best Ever</div>
                                    <div class="price-box">
                                        <span>4 Min Read</span>
                                    </div>
                                    <img class="d-block w-100" src="{% static 'img/car-2.jpg' %}" alt="blog post">
                                </a>
                            </div>
                            <div class="detail">
                                <h1 class="title">
                                    <a href="blog-details.html">Review Jujur SUV Listrik Terbaru Tahun Ini</a>
                                </h1>
                                <div class="location">
                                    <a href="#">
                                        <i class="fa fa-user"></i> Editor
                                    </a>
                                    <span class="ml-3"><i class="fa fa-calendar"></i> Oct 23, 2026</span>
                                </div>
                                <p class="mt-2 text-muted">Apakah efisiensi baterai sebanding dengan kenyamanan berkendara jarak jauh? Mari kita kupas tuntas...</p>
                                <ul class="facilities-list clearfix">
                                    <li>EV News</li>
                                    <li>Review</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    
                </div>

                <!-- SECTION: TRENDING POSTS -->
                <div class="row">
                    <div class="col-12">
                        <h3 class="heading-2 mb-3">Trending Articles</h3>
                    </div>
                    
                    <!-- Blog Post Item 1 (Ex: Audi Template) -->
                    <div class="col-lg-6 col-md-6">
                        <div class="car-box-3">
                            <div class="car-thumbnail">
                                <a href="blog-details.html" class="car-img">
                                    <div class="tag">10 Sold in a Day</div>
                                    <div class="price-box">
                                        <span>4 Min Read</span>
                                    </div>
                                    <img class="d-block w-100" src="{% static 'img/car-1.jpg' %}" alt="blog post">
                                </a>
                            </div>
                            <div class="detail">
                                <h1 class="title">
                                    <a href="blog-details.html">Review Jujur SUV Listrik Terbaru Tahun Ini</a>
                                </h1>
                                <div class="location">
                                    <a href="#">
                                        <i class="fa fa-user"></i> Editor
                                    </a>
                                    <span class="ml-3"><i class="fa fa-calendar"></i> Oct 23, 2026</span>
                                </div>
                                <p class="mt-2 text-muted">Apakah efisiensi baterai sebanding dengan kenyamanan berkendara jarak jauh? Mari kita kupas tuntas...</p>
                                <ul class="facilities-list clearfix">
                                    <li>EV News</li>
                                    <li>Review</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="car-box-3">
                            <div class="car-thumbnail">
                                <a href="blog-details.html" class="car-img">
                                    <div class="tag">Maintenance</div>
                                    <div class="price-box">
                                        <span>4 Min Read</span>
                                    </div>
                                    <img class="d-block w-100" src="{% static 'img/car-2.jpg' %}" alt="blog post">
                                </a>
                            </div>
                            <div class="detail">
                                <h1 class="title">
                                    <a href="blog-details.html">Review Jujur SUV Listrik Terbaru Tahun Ini</a>
                                </h1>
                                <div class="location">
                                    <a href="#">
                                        <i class="fa fa-user"></i> Editor
                                    </a>
                                    <span class="ml-3"><i class="fa fa-calendar"></i> Oct 23, 2026</span>
                                </div>
                                <p class="mt-2 text-muted">Apakah efisiensi baterai sebanding dengan kenyamanan berkendara jarak jauh? Mari kita kupas tuntas...</p>
                                <ul class="facilities-list clearfix">
                                    <li>EV News</li>
                                    <li>Review</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    
                </div>
                
                <!-- 5. PAGINASI -->
                <div class="pagination-box p-box-2 text-center mt-4">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            <li class="page-item">
                                <a class="page-link" href="#"><i class="fa fa-angle-left"></i></a>
                            </li>
                            <li class="page-item"><a class="page-link active" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#"><i class="fa fa-angle-right"></i></a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- Main content column end -->

            <!-- Right sidebar start -->
            <div class="col-lg-4 col-md-12">
                <div class="sidebar-right">
                    
                    <!-- 1. SEARCH WIDGET -->
                    <div class="widget advanced-search2">
                        <h3 class="sidebar-title">Search Blog</h3>
                        <form method="GET" action="/search">
                            <div class="form-group mb-3">
                                <div class="input-group">
                                    <input type="text" class="form-control" name="query" placeholder="Type keywords...">
                                </div>
                            </div>
                            <div class="form-group mb-0">
                                <button class="search-button btn w-100">Search Article</button>
                            </div>
                        </form>
                    </div>

                    <!-- 2. CATEGORY WIDGET -->
                    <div class="widget category-widget mt-4">
                        <h3 class="sidebar-title">Categories</h3>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <a href="#">Automotive News</a>
                                <span class="badge bg-primary text-white rounded-pill">12</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <a href="#">Car Reviews</a>
                                <span class="badge bg-primary text-white rounded-pill">8</span>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <a href="#">Tips & Tricks</a>
                                <span class="badge bg-primary text-white rounded-pill">5</span>
                            </li>
                        </ul>
                    </div>

                    <!-- 3. TAGS WIDGET -->
                    <div class="widget tags-widget mt-4">
                        <h3 class="sidebar-title">Popular Tags</h3>
                        <div class="tag-cloud d-flex flex-wrap gap-2">
                            <a href="#" class="btn btn-sm btn-outline-secondary m-1">Sedan</a>
                            <a href="#" class="btn btn-sm btn-outline-secondary m-1">SUV</a>
                            <a href="#" class="btn btn-sm btn-outline-secondary m-1">Electric Vehicle</a>
                            <a href="#" class="btn btn-sm btn-outline-secondary m-1">DIY Repair</a>
                        </div>
                    </div>

                    <!-- 4. FOLLOW US WIDGET -->
                    <div class="widget question widget-3 mt-4">
                        <h5 class="sidebar-title">Follow us</h5>
                        <div class="social-list clearfix">
                            <ul>
                                <li><a href="#" class="facebook-bg"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#" class="twitter-bg"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#" class="google-bg"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#" class="rss-bg"><i class="fa fa-rss"></i></a></li>
                                <li><a href="#" class="linkedin-bg"><i class="fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    
                </div>
            </div>
            <!-- Right sidebar end -->

        </div>
    </div>
</div>
<!-- Main Blog Content end -->
{% endblock content %}