<!-- templates/pages/home.html -->
{% extends 'base.html' %}
{% load static %}

{% block title %}{{ block.super }} - Blog{% endblock %}

{% block content %}
<!-- Sub banner start -->
{% include 'blog/components/blog/1_breadcrumb.html' %}
<!-- Sub Banner end -->

<!-- Main Blog Content start -->
<div class="featured-car content-area">
    <div class="container">
        <div class="row">

            <!-- Main content column start -->
            <div class="col-lg-8 col-md-12">
                
                <!-- SECTION: FEATURED POSTS -->
                {% include 'blog/components/blog/2_featured_posts.html' %}

                <!-- SECTION: LATEST POSTS -->
                {% include 'blog/components/blog/3_latest_posts.html' %}

                <!-- SECTION: TRENDING POSTS -->
                {% include 'blog/components/blog/4_trending_posts.html' %}
                
                <!-- 5. PAGINASI -->
                {% include 'blog/components/blog/5_pagination.html' %}

            </div>
            <!-- Main content column end -->

            <!-- Right sidebar start -->
            {% include 'blog/components/common/right_sidebar.html' %}
            <!-- Right sidebar end -->

        </div>
    </div>
</div>
<!-- Main Blog Content end -->
{% endblock content %}