{% load static %}

<div class="widget advanced-search2">
    <h3 class="sidebar-title">Search Blog</h3>
    <form method="GET" action="/search">
        <div class="form-group mb-3">
            <div class="input-group">
                <input type="text" class="form-control" name="query" placeholder="Type keywords...">
            </div>
        </div>
        <div class="form-group mb-0">
            <button class="search-button btn w-100">Search Article</button>
        </div>
    </form>
</div>