{% load static %}

<div class="widget question widget-3 mt-4">
    <h5 class="sidebar-title">Follow us</h5>
    <div class="social-list clearfix">
        <ul>
            <li><a href="#" class="facebook-bg"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#" class="twitter-bg"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#" class="google-bg"><i class="fa fa-google-plus"></i></a></li>
            <li><a href="#" class="rss-bg"><i class="fa fa-rss"></i></a></li>
            <li><a href="#" class="linkedin-bg"><i class="fa fa-linkedin"></i></a></li>
        </ul>
    </div>
</div>