{% load static %}

<div class="col-lg-4 col-md-12">
    <div class="sidebar-right">
        
        <!-- 1. SEARCH WIDGET -->
        {% include 'blog/components/common/1_right_sidebar_search_form.html' %}

        <!-- 2. CATEGORY WIDGET -->
        {% include 'blog/components/common/2_right_sidebar_category.html' %}

        <!-- 3. TAGS WIDGET -->
        {% include 'blog/components/common/3_right_sidebar_tag.html' %}

        <!-- 4. FOLLOW US WIDGET -->
        {% include 'blog/components/common/4_right_sidebar_social.html' %}
        
    </div>
</div>